<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.community.petish.community.etc.hamster.mapper.HamsterPostMapper">

<resultMap type="com.community.petish.community.etc.hamster.dto.HamsterPostResponseDTO" id="HamsterPostResponseDTO">
	<result property="id" column="ID" />
	<result property="title" column="TITLE" />
	<result property="content" column="CONTENT" />
	<result property="created_date" column="CREATED_DATE" />
	<result property="updated_date" column="UPDATED_DATE" />
	<result property="view_count" column="VIEW_COUNT" />
	
	<result property="category_id" column="CATEGORY_ID" />
	<result property="category_name" column="CATEGORY_NAME" />
	
	<result property="user_id" column="USER_ID" />
	<result property="nickname" column="NICKNAME" />
</resultMap>

<select id="updateViewCount">
select count(id) from hamster_post_tb
</select>

<select id="getPostList" resultMap="HamsterPostResponseDTO">
select hamster.id, hamster.title, hamster.content, hamster.created_date, hamster.updated_date,
hamster.view_count, hamster.category_id, category.category_name, hamster.user_id, u.nickname
from hamster_post_tb hamster, user_tb u, etc_category_tb category
where hamster.deleted=0 and hamster.user_id = u.id and hamster.category_id = category.id
</select>

<select id="getPostDetail" resultMap="HamsterPostResponseDTO">
select id, title, content, created_date, updated_date, view_count, category_name, user_id 
from hamster_post_tb
where id=#{id}
</select>

<insert id="insertPost" parameterType="com.community.petish.community.etc.hamster.dto.HamsterPostRequestDTO">
insert into hamster_post_tb(id, title, content, created_date, updated_date, view_count, deleted, user_id, category_id)
values(((select NVL(max(id), 0) from HAMSTER_POST_TB) + 1), #{title}, #{content}, sysdate, sysdate, 0, 0, #{user_id}, #{category_id})
</insert>

<update id="updatePost" parameterType="com.community.petish.community.etc.hamster.dto.HamsterPostRequestDTO">
update HAMSTER_POST_TB
SET title=#{title}, content=#{content}, updated_date=#{updated_date}, category_id=#{category_id}
WHERE id=#{id}
</update>

<update id="deletePost" parameterType="Long">

</update>

</mapper>